/* Write your CSS here */
#titleName{
    text-align: center;
    margin-top: 20px;
}
#imageInput, #textInput, #titleInput{
    height: 50px;
    width: 200px;
    text-align: center;
    margin: 10px;
}

#subBtn{
    margin: 10px;
}

#captionDisplay{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}