/* Write your CSS here */
#titleName{
    text-align: center;
    margin-top: 20px;
}
#imageInput{
    height: 50px;
    width: 200px;
    text-align: center;
    margin: 10px;
}
#textInput{
    height: 50px;
    width: 200px;
    text-align: center;
    margin: 10px;
    
}
#subBtn{
    margin: 10px;
}